__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env

.vscode/

.DS_Store
Thumbs.db

*.log

analyst_data_raw/
analyst_report/
analyst_data_clean/
.pytest_cache/
.coverage
htmlcov/

.ipynb_checkpoints/